@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --light-purple: #453452;
    --beige: #DCCABA;
    --yellow: #EBD247;
    --gray: #8B8B8B;
    --outline: var(--gray) dotted 1px;
    
    /* fonts */
    --main-font: "Press Start 2P", system-ui;
    --text-size: 12px;
    --title-size: 16px:
}

h2{
    font-size: var(--title-size);
    font-family: var(--main-font);
    margin: 0;
}