.btnWrapper{
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: var(--yellow);
    box-shadow: -2px -2px 0px 0px rgba(49, 35, 35, 0.50) inset, 2px 2px 0px 0px #FFF inset;
    border: none;
}

.btnWrapper:hover{
    outline: var(--gray) dotted 1px;
    cursor: pointer;
}

.btnWrapper:active{
    outline: none;
    box-shadow: -2px -2px 0px 0px #FFF inset, 2px 2px 0px 0px rgba(49, 35, 35, 0.50) inset;
}